<h1>Uploading image for a house</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Location :</b>
  <%= @house.location %>
</p>

<p>
  <b>Square footage</b>
  <%= @house.square_footage %>
</p>

<p>
  <b>Year built</b>
  <%= @house.year_built %>
</p>

<p>
  <b>Style</b>
  <%= @house.style %>
</p>

<p>
  <b>Price</b>
  <%= @house.price %>
</p>

<p>
  <b>Number of floors</b>
  <%= @house.number_of_floors %>
</p>

<p>
  <b>Basement</b>
  <%= @house.basement %>
</p>

<p>
  <b>Current house owner</b>
  <%= @house.current_house_owner %>
</p>

<p>
  <b>Contact information of realtor</b>
  <%= @house.contact_info_of_realtor %>
</p>

<%= form_with url: "/houses/upload_image/"+@house.id.to_s , scope: :house do |form| %>
<div>
  <%= form.label :file_name %>
  <%= form.file_field :file_name %>
</div>
  <br>
  <br>
  <%= submit_tag("Upload") %>
  <%end %>

<br>
<br>
<%= link_to 'Go back to homepage ', homepage_path %>