<h1>Showing Realtor</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name :</b>
  <%= @realtor.name %>
</p>

<p>
  <b>Email</b>
  <%= @realtor.email %>
</p>

<p>
  <b>Phone</b>
  <%=  @realtor.phone %>
</p>


<br>
<br>
<%= link_to 'Go back to homepage ', homepage_path %>
<br>


