<head>
  <style>
    #notice {
      color: red;
      font-size: large;
    }
  </style>
</head>
<h1>---- Forgot password ----</h1>
<br>
<p id="notice"><%= notice %></p>
<br>
<%= form_with url: "/users/forgot_password" , scope: :user do |form| %>
  <br>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <br>
  <br>
  <%= form.label :what_is_your_first_pet_name_? %>
  <%= form.text_field :secret_question %>
  <br>
  <br>
  <%= form.label :new_password %>
  <%= form.password_field :password %>
  <br>
  <br>
  <br>
  <%= form.radio_button :usertype, 'realtor', :checked => true %>
  <%= form.label :realtor %>
  <%= form.radio_button :usertype, 'househunter' %>
  <%= form.label :house_hunter %>
  <br>
  <br>
  <%= submit_tag("Submit") %>
  <br>
  <br>
  <%= link_to "Go back ", root_url %>
<% end %>