<%= render "banner" %>
<%= render "header" %>
<head>
  <style>
    #notice {
      color: red;
      font-size: large;
    }

  </style>
</head>
<p id="notice"> <%=notice %></p>
<%= form_with url: "/users/reset_password" , scope: :user  do |form| %>
  <p id="main">
    <%= form.label :new_password %>
    <%= form.password_field :new_password %>
    <br>
    <br>
    <%= form.label :confirm_new_password %>
    <%= form.password_field :confirm_new_password %>
    <br>
    <br>
    <%= form.label :old_password %>
    <%= form.password_field :old_password %>
    <br>
    <br>
    <%= submit_tag("Reset password") %>
    <br>
    <br>

    <br>
    <br>
    <%= link_to 'Go back to homepage', '/homepage' %> |
  </p>
<% end %>