<head>
  <style>
    #notice {
      color: red;
      font-size: large;
    }
    #main {
      text-indent: 30px;
      color: darkblue;
    }
  </style>
</head>
<h1>New Reply for the inquiry</h1>

<p id="notice"><%= notice %></p>
<%= form_with url: '/inquiries/create_reply/'+@inquiry.id.to_s , scope: :reply do |form| %>
<p>
  <b>Subject :</b>
  <%= @inquiry.subject %>
</p>

<p>
  <b>Message content</b>
  <%= @inquiry.message_content %>
</p>

  <br>
  <b>
<%= form.label :reply %>
  </b>
<%= form.text_area :reply %>

  <br>
  <br>
  <%= submit_tag("Create reply") %>
<br>
  <br />
<%= link_to 'Go back ', '/inquiries/show_all_for_company' %>

<%end %>